h1 {
    border-bottom: 3px solid rgb(0, 0, 0);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

h2 {
    border-top: 3px solid rgb(0, 0, 0);
    padding-top: 10px;
    margin-top: 20px;
}

.row {
    display: flex;
    gap: 1em;
    flex-direction: row;
}

button {
  width: 100px;
  height: 30px;  
}